.cardapio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.prato-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    background-color: #f9f9f9;
}

.prato-card h3 {
    margin-top: 0;
}

.preco {
    font-weight: bold;
    color: green;
}

.categoria {
    margin-bottom: 40px;
}

.categoria h3 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}