{% extends "admin_base.html" %}

{% block content %}

<div class="admin-box">

    <h2>Adicionar Evento</h2>

    <form method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label>Título</label>
            <input type="text" name="titulo" required>
        </div>

        <div class="form-group">
            <label>Descrição</label>
            <textarea name="descricao" required></textarea>
        </div>

        <div class="form-group">
            <label>Data e Hora</label>
            <input type="datetime-local" name="data_evento" required>
        </div>

        <div class="form-group">
            <label>Imagem</label>
            <input type="file" name="imagem">
        </div>

        <button type="submit" class="btn">
            Salvar Evento
        </button>

    </form>

</div>

{% endblock %}