{% extends "admin_base.html" %}

{% block content %}

<div class="admin-dashboard">

    <div class="dashboard-grid">

        <div class="dashboard-card">
            <h3>Total de pratos</h3>
            <p>{{ dashboard.total_pratos }}</p>
        </div>

        <div class="dashboard-card">
            <h3>Total de feedbacks</h3>
            <p>{{ dashboard.total_feedbacks }}</p>
        </div>

        <div class="dashboard-card">
            <h3>Total de Eventos</h3>
            <p>{{ dashboard.total_eventos }}</p>
        </div>

        <div class="dashboard-card">
            <h3>Total de Currículos</h3>
            <p>{{ dashboard.total_curriculos }}</p>
        </div>

        <div class="dashboard-card">
            <h3>Média das avaliações</h3>
            <p>{{ dashboard.media_avaliacoes }}</p>
        </div>

        <div class="dashboard-card">
            <h3>Prato Mais Curtido</h3>
            <p>{{ dashboard.prato_mais_curtido }}</p>
            <small>{{ dashboard.curtidas_prato_mais_curtido }} curtidas</small>
        </div>

        <div class="dashboard-card">
            <h3>Prato Mais Rejeitado</h3>
            <p>{{ dashboard.prato_mais_rejeitado }}</p>
            <small>{{ dashboard.descurtidas_prato_mais_rejeitado }} descurtidas</small>
        </div>

    </div>

</div>

{% endblock %}