{% extends "base.html" %}

{% block content %}

<h2>Gerenciar Eventos</h2>

<div class="admin-topo">
    <a href="/admin/adicionar-evento" class="btn">
        Adicionar Evento
    </a>
</div>

<div class="admin-table">

    <table>

        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Data e Hora</th>
            <th>Ações</th>
        </tr>

        {% for evento in eventos %}
        <tr>

            <td>{{ evento[0] }}</td>
            <td>{{ evento[1] }}</td>
            <td>{{ evento[3] }}</td>

            <td>
                <a href="/admin/editar-evento/{{ evento[0] }}" class="btn-editar">
                    Editar
                </a>

                <a href="/admin/excluir-evento/{{ evento[0] }}" class="btn-excluir"
                    onclick="return confirm('Deseja realmente excluir este evento?')">
                    Excluir
                </a>
            </td>

        </tr>
        {% endfor %}

    </table>

</div>

{% endblock %}