{% extends "base.html" %}

{% block content %}

<div class="admin-dashboard">

    <h2>Gerenciar Cardápio</h2>

    <div class="admin-topo">

        <a href="/admin/adicionar-prato" class="btn">
            Adicionar prato
        </a>

    </div>
    <table class="tabela-admin">

        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>

        {% for prato in pratos %}

        <tr>
            <td>{{ prato[0] }}</td>
            <td>{{ prato[1] }}</td>
            <td>R$ {{ "%.2f"|format(prato[2]) }}</td>
            <td>{{ prato[3] }}</td>

            <td>
                <a href="/admin/excluir-prato/{{ prato[0] }}" class="btn-excluir"
                    onclick="return confirm('Tem certeza que deseja excluir este prato?')">
                    Excluir
                </a>
            </td>
        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}