{% extends "base.html" %}

{% block content %}
<h2>Cardápio</h2>

{% for categoria, pratos in categorias.items() %}

<div class="categoria">

    <h3 class="titulo-categoria">

        {% if categoria == "Carnes" %}
        <i data-lucide="beef"></i>
        {% elif categoria == "Aves" %}
        <i data-lucide="drumstick"></i>
        {% elif categoria == "Pescados" %}
        <i data-lucide="fish"></i>
        {% elif categoria == "Massas" %}
        <i data-lucide="utensils"></i>
        {% elif categoria == "Petiscos" %}
        <i data-lucide="pizza"></i>
        {% elif categoria == "Saladas" %}
        <i data-lucide="leaf"></i>
        {% elif categoria == "Guarnições" %}
        <i data-lucide="utensils-crossed"></i>
        {% elif categoria == "Sobremesas" %}
        <i data-lucide="ice-cream"></i>
        {% elif categoria == "Bebidas" %}
        <i data-lucide="beer"></i>
        {% endif %}

        {{ categoria }}

    </h3>

    <div class="cardapio">

        {% for prato in pratos %}

        <div class="prato-card">

            <img src="{{ url_for('static', filename='uploads/pratos/' + prato[5]) }}" class="img-prato">

            <h3 class="nome">{{ prato[1] }}</h3>

            <p class="descricao">{{ prato[2] }}</p>

            <div class="footer-card">

                <span class="preco">
                    R$ {{ "%.2f"|format(prato[3]) }}
                </span>

                <div class="avaliacao-prato">

                    <a href="{{ url_for('curtir_prato', id=prato[0]) }}">
                        <i data-lucide="thumbs-up"></i>
                        {{ prato[6] }}
                    </a>

                    <a href="{{ url_for('descurtir_prato', id=prato[0]) }}">
                        <i data-lucide="thumbs-down"></i>
                        {{ prato[7] }}
                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endfor %}

{% endblock %}