{% extends "base.html" %}

{% block content %}

<div class="contato">

    <h2>Fale Conosco</h2>

    <p class="descricao-curriculo">
        Estamos prontos para atender você. Entre em contato ou visite nosso restaurante!
    </p>

    <div class="contato-container">

        <div class="contato-info">

            <p><i data-lucide="map-pin"></i> Jacarepaguá - Rio de Janeiro, RJ</p>

            <p><i data-lucide="phone"></i> (21) 96626-9565</p>

            <p><i data-lucide="clock"></i>
                Segunda a Sábado: 10h às 02h<br>
                Domingo: 10h às 22h
            </p>

            <p><i data-lucide="mail"></i> contato@pglounge.com</p>

        </div>

    </div>

</div>

{% endblock %}