{% extends "base.html" %}

{% block content %}

<div class="feedback-box">

    <h2>Editar Evento</h2>

    <form method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label>Título</label>
            <input type="text" name="titulo" value="{{ evento[1] }}" required>
        </div>

        <div class="form-group">
            <label>Descrição</label>
            <textarea name="descricao" required>{{ evento[2] }}</textarea>
        </div>

        <div class="form-group">
            <label>Data e Hora</label>
            <input type="datetime-local" name="data_evento" value="{{ evento[3] }}" required>
        </div>

        <div class="form-group">
            <label>Imagem</label>
            <input type="file" name="imagem">
            <p>Imagem atual: {{ evento[4] }}</p>
        </div>

        <button type="submit" class="btn">
            Salvar Alterações
        </button>

    </form>

</div>

{% endblock %}