{% extends "base.html" %}

{% block content %}

<div class="feedback-box">
    <h2>Deixe seu feedback</h2>

    <form method="POST">

        <div class="form-group">
            <label><i data-lucide="user"></i> Nome</label>
            <input type="text" name="nome" required>
        </div>

        <div class="form-group">
            <label><i data-lucide="message-square"></i> Comentário</label>
            <textarea name="comentario" required></textarea>
        </div>

        <div class="form-group">
            <label><i data-lucide="star"></i> Avaliação</label>
            <select name="avaliacao" required>
                <option value="">Selecione</option>
                <option value="5">Excelente</option>
                <option value="4">Muito bom</option>
                <option value="3">Bom</option>
                <option value="2">Regular</option>
                <option value="1">Ruim</option>
            </select>
        </div>

        <button type="submit" class="btn">Enviar feedback</button>

    </form>
</div>

{% endblock %}